################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RGraph/RGraph.ClassLibrary/bin/Debug/RGraph.classLibrary.0.1.Debug.AnyCPU.nupkg
*.nupkg
/RGraph/RGraph.ClassLibrary/obj
/RGraph/RGraph.Example/obj
